---
import { SiteSettingsButton } from '@client/SiteApp/SiteSettingsButton';
import { SiteTray } from '@client/SiteApp/SiteTray';
import { PageApp } from '@client/sites/PageApp/PageApp';
import PageWithTray from 'src/layouts/PageWithTray.astro';

const { siteKey: siteKeyParam, pageKey } = Astro.params;

const siteKey = siteKeyParam || '';
const page = pageKey || siteKey || '';
---
<PageWithTray>
  <div slot="app-bar">
    <SiteSettingsButton client:only="solid-js"/>
  </div>
  <SiteTray slot="app-tray" siteKey={siteKey} client:only="solid-js"/>
  <PageApp siteKey={siteKey} pageKey={page} client:only="solid-js"/>
</PageWithTray>
