---
import { SiteTray } from '@client/sites/SiteApp/SiiteTray';
import { SiteSettingsButton } from '@client/sites/SiteSettingsButton';
import PageWithTray from 'src/layouts/PageWithTray.astro';

const { siteKey, pageKey } = Astro.params;
---
<PageWithTray>
  <div slot="app-bar">
    <SiteSettingsButton client:only="solid-js"/>
  </div>
  <SiteTray slot="app-tray" sitekey={siteKey + ''} client:only="solid-js"/>
  <div>...{siteKey} / {pageKey}</div>
</PageWithTray>
