---
import { getCollection } from 'astro:content';
import { t } from '@utils/i18n';
import p from 'package.json';
import DocsTray from 'src/components/server/docs/DocsTray.astro';
import PageWithTray from 'src/layouts/PageWithTray.astro';
export const prerender = true;

export async function getStaticPaths() {
  const components = await getCollection('fi');

  return components.map((entry) => ({
    params: { lang: 'fi', slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
console.log(entry);
const { Content } = await entry.render();
---
<PageWithTray title={entry.data.shortname || entry.data.name}>
  <script is:inline>
   // If screen widht is more than 1024, add aria-expanded=true to the tray button (cn-tray-button)
    if (window.innerWidth > 1024) {
      document.querySelector('cn-tray-button').setAttribute('aria-expanded', 'true');
    }
  </script>
  <DocsTray slot="app-tray" />
  <div class="content-columns">
    <div class="column-l">
        <h1>{entry.data.name}</h1>
       <Content />
    </div>
    <div class="column-s">
      <cn-card title="Pelilauta 2" noun="fox">
        <p><strong>Pelilauta / Mekanismi</strong></p>
        <div class="field-grid">
        <p><strong>{t('app:meta.version')}:</strong></p><p>{p.version}</p>
        <p><strong>{t('app:meta.source')}:</strong></p>
        <p>
            <a href="https://github.com/11thdeg/pelilauta">Pelilauta (MIT)</a><br/>
            <a href="https://github.com/11thdeg/cyan-elements">Cyan (MIT)</a><br/>
            <a href="https://github.com/11thdeg/skaldstore">Skaldstore (MIT)</a>
        </p>
        </div>
      </cn-card>
    </div>
  </div>
</Page>
