---
import type { Thread } from '@schemas/Thread'
import type { Profile } from '@schemas/Profile'
import { AvatarImage } from '@components/solid/profile/AvatarImage.tsx'
import { DateTime } from 'luxon'

interface Props {
  thread: Thread,
  author: Profile
}
const { thread, author } = Astro.props

const flowDate = DateTime.fromSeconds(thread.flowTime / 1000).toFormat('yyyy-MM-dd – HH:mm')
---
<section class="border-b border-t flex">
  <div>
    <AvatarImage {...author} client:load/>
  </div>
  <div class="flex flex-column py-1 my-1 flex-grow">
    <p class="text-right text-caption">{ author.nick }</p>
    <p class="text-right text-caption">{ flowDate }</p>
  </div>
</section>