[submodule "public/myrrys-proprietary"]
	path = public/myrrys-proprietary
	url = https://github.com/villetakanen/myrrys-proprietary.git
[submodule "cn-dice"]
	path = cn-dice
	url = https://github.com/villetakanen/cn-dice.git
[submodule "cn-d20-ability-score"]
	path = cn-d20-ability-score
	url = https://github.com/villetakanen/cn-d20-ability-score.git
[submodule "cyan-design-system-4"]
	path = cyan-design-system-4
	url = https://github.com/villetakanen/cyan-design-system-4
