---
import { SiteApp } from '@client/SiteApp/SiteApp';
import { SiteSettingsButton } from '@client/SiteApp/SiteSettingsButton';
import { SiteTray } from '@client/SiteApp/SiteTray';
import PageWithTray from 'src/layouts/PageWithTray.astro';

const { siteKey: siteKeyParam } = Astro.params;
const siteKey = siteKeyParam || 'mekanismi'; // This should not happen, but just in case
---
<PageWithTray>
  <div slot="app-bar">
    <SiteSettingsButton client:only="solid-js"/>
  </div>
  <SiteTray slot="app-tray" siteKey={siteKey} client:only="solid-js"/>

  <SiteApp siteKey={siteKey} client:only="solid-js"/>

</PageWithTray>
