---
import SingleColumnWithTray from '../../../layouts/SingleColumnWithTray.astro'
import PageArticle from '../../../components/pages/PageArticle.astro'
import { getFirestore } from 'firebase-admin/firestore'
import { SiteSchema } from '../../../schema/Site'
import SiteTrayHeader from '../../../components/sites/SiteTrayHeader.astro'
import { extractFlowTime } from '../../../firebase/helpers'

const { sitekey } = Astro.params

const db = getFirestore()
const siteRef = db.collection('sites').doc(sitekey + '')
const siteDoc = await siteRef.get()
const site = SiteSchema.parse({
  ...siteDoc.data(),
  key: siteDoc.id,
  flowTime: extractFlowTime(siteDoc.data()),
})

const homepageSlug = site.homepage || site.key
---

<SingleColumnWithTray title={site.name}>
  <div slot="tray">
    <SiteTrayHeader site={site} />
  </div>
  <PageArticle sitekey={site.key} pagekey={homepageSlug} />
</SingleColumnWithTray>
