---
import { SiteMembersApp } from '@client/SitesApp/SiteMembersApp/SiteMembersApp';
import SiteOwnersTool from '@svelte/sites/SiteOwnersTool.svelte';
import ModalPage from '@layouts/ModalPage.astro';
import { t } from '@utils/i18n';
import { parseSite } from '@schemas/SiteSchema';
import { toClientEntry } from '@utils/client/entryUtils';

const { siteKey: siteKeyParam } = Astro.params;
const siteKey = siteKeyParam || 'mekanismi'; // This should not happen, but just in case

const origin = new URL(Astro.request.url).origin;

// Fetch site data from the api
const siteResponse = await fetch(`${origin}/api/sites/${siteKey}`);
if (siteResponse.status === 404) {
  return Astro.redirect('/404');
}

const site = parseSite(toClientEntry(await siteResponse.json()), siteKey);

---
<ModalPage title={t('site:members.title')}>
  <div class="content-columns">
    <article>
      <SiteOwnersTool site={site} client:only="svelte" />
    </article>
  </div>
</ModalPage>