---
import { SiteSettingsButton } from '@client/SiteApp/SiteSettingsButton';
import { SiteTocPage } from '@client/SiteApp/SiteTocPage';
import { SiteTray } from '@client/SiteApp/SiteTray';
import { t } from '@utils/i18n';
import PageWithTray from 'src/layouts/PageWithTray.astro';

const { siteKey } = Astro.params;
---
<PageWithTray title={t('sites:toc.title')}>
  <div slot="app-bar">
    <SiteSettingsButton client:only="solid-js"/>
  </div>
  <SiteTray slot="app-tray" siteKey={siteKey + ''} client:only="solid-js"/>
  <SiteTocPage client:only="solid-js"/>
</PageWithTray>
