---
import { getCollection, render } from 'astro:content';
import PageWithTray from '@layouts/PageWithTray.astro';
import DocsTray from '@server/docs/DocsTray.astro';
import { t } from '@utils/i18n';
import { version } from 'package.json';

export const prerender = true;

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('docs');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---
<PageWithTray title={post.data.shortname || post.data.name}>
    <script is:inline>
     // If screen widht is more than 1024, add aria-expanded=true to the tray button (cn-tray-button)
      if (window.innerWidth > 1024) {
        document.querySelector('cn-tray-button').setAttribute('aria-expanded', 'true');
      }
    </script>
    <DocsTray slot="app-tray" />
    <div class="content-columns">
      <div class="column-l">
          <h1>{post.data.name}</h1>
         <Content />
      </div>
      <div class="column-s">
        <cn-card title="Pelilauta 2" noun="fox">
          <p><strong>Pelilauta / Mekanismi</strong></p>
          <div class="field-grid">
          <p><strong>{t('app:meta.version')}:</strong></p><p>{version}</p>
          <p><strong>{t('app:meta.source')}:</strong></p>
          <p>
              <a href="https://github.com/11thdeg/pelilauta">Pelilauta (MIT)</a><br/>
              <a href="https://github.com/11thdeg/cyan-elements">Cyan (MIT)</a><br/>
              <a href="https://github.com/11thdeg/skaldstore">Skaldstore (MIT)</a>
          </p>
          </div>
        </cn-card>
      </div>
    </div>
  </Page>