---
import '@11thdeg/cyan-next/dist/style.css'

const { title } = Astro.props

const pageTitle = title ? `${title} – Pelilauta 2` : 'Pelilauta 2'
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle}</title>
</head>
