---
import { changeLanguage } from 'i18next'
import BaseHead from '../../components/app/BaseHead.astro'
import LoginSection from '../../components/app/LoginSection.astro'

changeLanguage('en')
---

<html lang="fi">
  <BaseHead />
  <body>
    <h1>Astro</h1>
    <main>
      <LoginSection />
    </main>
  </body>
</html>
