---
import { FrontPageFabs } from '@client/FrontPage/FrontPageFabs';
import { TopSitesSection } from '@client/FrontPage/SitesStream';
import { ThreadStream } from '@client/FrontPage/ThreadStream';
import { DebugSection } from '@client/debug';
import SyndicateStream from '@server/FrontPage/SyndicateStream.astro';
import Page from 'src/layouts/Page.astro';
---
<Page title={import.meta.env.PUBLIC_APP_NAME}>
    <div class="content-columns">
      <div>
        <ThreadStream client:only="solid-js"/>
      </div>
      <SyndicateStream />
      <div class="column-s">
        <TopSitesSection client:only="solid-js"/>
      </div>

      {import.meta.env.SECRET_FEATURE_FLAG_DEBUG === 'true' && ( 
      <article>
        <h2><cn-icon large noun="fox" />DEBUG</h2>
        <DebugSection client:only="solid-js"/>
      </article> 
      )}
    </div>
    <FrontPageFabs client:only="solid-js"/>
</Page>