---
import { changeLanguage } from 'i18next'
import LoginSection from '../components/app/LoginSection.astro'
import LogoutButton from '../components/app/LogoutButton.astro'
import { LiveStream } from '../components/solid/forum/LiveStream/LiveStream'
import TopSitesCTA from '../components/home/TopSitesCTA.astro'
import MyrrysRSSCTA from '../components/home/MyrrysRSSCTA.astro'
import Page from '@layouts/Page.astro'

changeLanguage('fi')
---

<Page>
  <div class="content-columns">
    <div>
      <LiveStream client:load />
    </div>
    
    <div class="column-s">
      <MyrrysRSSCTA />
    </div>

    <div class="column-s">
      <TopSitesCTA />
      <LoginSection />
      <LogoutButton />
    </div>
  </div>
</Page>
