---
import { ThreadStream } from '@client/FrontPage/ThreadStream';
import { DebugSection } from '@client/debug';
import Page from 'src/layouts/Page.astro';
---
<Page>
    <div class="content-columns">
      <div>
        <ThreadStream client:only="solid-js"/>
      </div>
      <article>
        <h1>Placeholder</h1>
        <cn-icon large noun="fox" />
        <DebugSection client:only="solid-js"/>
      </article>
    </div>
</Page>