---
import BaseHead from '../components/server/BaseHead.astro';
import { t } from '../utils/i18n';
---

<html lang="en">
	<BaseHead />
	<body>
		<h1>{t('app:title')}</h1>
		<cn-icon large noun="fox" />
	</body>
</html>
