---
import { FrontPageFabs } from '@client/FrontPage/FrontPageFabs';
import { DebugSection } from '@client/debug';
import SyndicateStream from '@server/FrontPage/SyndicateStream.astro';
import TopSitesStream from '@server/FrontPage/TopSitesStream.astro';
import TopThreadsStream from '@server/FrontPage/TopThreadsStream.astro';
import Page from 'src/layouts/Page.astro';

// Set a short cache time for the front page
Astro.response.headers.set(
  'Cache-Control',
  's-maxage=2, stale-while-revalidate',
);
---
<Page title={import.meta.env.PUBLIC_APP_NAME} noSharing>
    <div class="content-columns">
      <TopThreadsStream/>
      <SyndicateStream />
      <TopSitesStream />

      {import.meta.env.SECRET_FEATURE_FLAG_DEBUG === 'true' && ( 
      <article>
        <h2><cn-icon large noun="fox" />DEBUG</h2>
        <DebugSection client:only="solid-js"/>
      </article> 
      )}
    </div>
    <FrontPageFabs client:only="solid-js"/>
</Page>