---
import { EmailLoginSection } from '@client/login/EmailLoginSection';
import { SyndicatedLoginSection } from '@client/login/SyndicatedLoginSection';
import ModalPage from '@layouts/ModalPage.astro';
import { t } from '@utils/i18n';
import Page from 'src/layouts/Page.astro';

/* A server side rendered login page: we only provide client side session, as all
 * reactive/interactive elements are handled by the client side solid apps.
 */
---
<ModalPage title={t('login:title')}>
  <main>
    <div class="content-columns">
      <div class="column-l">
        <h1>{t('login:title')}</h1>
        <p>{t('login:info')}</p>
      </div>
    </div>
    <div class="content-columns">
      <div>
        <EmailLoginSection client:only="solid-js"/>
      </div>
      <div>
        <SyndicatedLoginSection client:only="solid-js"/>
      </div>
    </div>
  </main>
</ModalPage>