---
import SingleColumnLayout from '../../layouts/SingleColumnLayout.astro'
import SiteListItem from '../../components/sites/SiteListItem.astro'
import { app, getSessionUser } from '../../firebase/server'
import { getFirestore } from "firebase-admin/firestore";
import { SiteSchema } from '../../schema/Site'
import type { Site } from '../../schema/Site'
import { t } from 'i18next'
import { extractFlowTime } from '../../firebase/helpers'



const db = getFirestore(app)
const sitesRef = db.collection('sites');

const snapshot = await sitesRef.where('hidden', '==', false).get();

if (snapshot.empty) {
  console.log('No matching documents.');
}
const sites:Array<Site> = []
snapshot.forEach(doc => {
  if (!doc.exists) return
    sites.push(SiteSchema.parse(
      {
        ...doc.data(),
        key: doc.id,
        flowTime: extractFlowTime(doc.data())
    }))
});

const user = await getSessionUser(Astro.cookies)
if ( user?.uid ) {
  const userSitesRef = db.collection('sites').where('owners', 'array-contains', user.uid)
  const userSitesSnapshot = await userSitesRef.get();
  userSitesSnapshot.forEach((doc) => {
    if (!doc.exists) return
    sites.push(SiteSchema.parse(
      {
        ...doc.data(),
        key: doc.id,
        flowTime: extractFlowTime(doc.data())
    }))
  });
}

sites.sort((a, b) => {
  if (a.flowTime && b.flowTime) {
    return b.flowTime - a.flowTime
  }
  return 0
})

---
<SingleColumnLayout>
  <div class="grid">
    <h4 class="small">{t('sites:siteListTitle')}</h4>
  </div>
{ sites.map(site => 
  <SiteListItem site={site} />
)}
</SingleColumnLayout>