---
import { SitesList } from '@client/library/SitesList';
import { t } from '@utils/i18n';
import PageWithTray from 'src/layouts/PageWithTray.astro';
---

<PageWithTray title={t('library:title')}>
  <div class="content-columns">
    <SitesList client:only="solid-js" />
  </div>
</PageWithTray>