---
import ModalPage from '@layouts/ModalPage.astro';
import { t } from '@utils/i18n';
---

<ModalPage title={t('actions:create.thread')}>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>
 <h1>...</h1>

 <h1>...</h1>

</ModalPage>