---
import { t } from '@utils/i18n';

interface Props {
  title?: string;
  modal?: boolean;
}

const { title, modal } = Astro.props;
const barTitle = title || t('app:meta.title');
---

<header class={`${modal && 'on-modal'} cn-app-bar`}>
  <cn-back-button></cn-back-button>
  <h3>{barTitle}</h3>
  <div style="flex: 1"></div>
  <slot />
  <cn-share-button></cn-share-button>
</header>
