---
import { t } from '@utils/i18n';

interface Props {
  title?: string;
  modal?: boolean;
  noun?: string;
}

const { title, modal, noun } = Astro.props;
const barTitle = title || t('app:meta.title');
---

<header class={`${modal && 'modal'} cn-app-bar`}>
  { modal && <button class="text" type="button" onclick="history.back()">
    <cn-icon noun="arrow-left" />
  </button> }
  { !modal && noun && <div class="ml-1"><cn-icon noun={noun}/></div> }
  <p>{modal}</p>
  <h3>{barTitle}</h3>
  <div style="flex: 1"></div>
  <slot />
  <cn-share-button></cn-share-button>
</header>
