---
import { t } from '@utils/i18n';
---

<footer class="AppFooter content-columns border-t">
  <section class="column-s flex justify-center" style="opacity:0.11">
    <cn-icon noun="fox" xlarge />
  </section>
  <section class="column-s">
    <h4>{t('app:footer.partners.title')}</h4>
    <ul>
      <li>
        <a href="https://myrrys.com">Myrrys</a>
      </li>
    </ul>
  </section>
</footer>