---
import { t } from '@utils/i18n';
import {version} from 'package.json';
---

<footer class="AppFooter content-columns border-t">
  <section class="column-s flex flex-col align-center justify-center" style="opacity:0.11">
    <cn-icon noun="fox" xlarge />
    <p class="caption text-center">{version}</p>
  </section>
  <section class="column-s">
    <h4>{t('app:footer.partners.title')}</h4>
    <ul>
      <li>
        <a href="https://myrrys.com">Myrrys</a>
      </li>
    </ul>
  </section>
  <section class="column-s">
    <h4>{t('app:footer.links.title')}</h4>
    <ul>
      <li>
        <a href="https://discord.gg/2MHBhzw">Roolipelit -discord</a>
      </li>
    </ul>
  </section>
</footer>