---
import { t } from 'src/utils/i18n';
import { ProfileButton } from '../client/ProfileButton/ProfileButton';
const currentPath = Astro.url.pathname;

type RailItem = {
  label?: string;
  href: string;
  icon: string;
};

const rail: Array<RailItem> = [
  {
    href: '/',
    icon: 'veil-advance',
  },
];
---

<nav class="rail">
  {
    rail.map((item) => {
      const isActive = currentPath === item.href
      return (
        <a href={item.href}>
          <cn-navigation-icon
            active={isActive}
            noun={item.icon}
            label={item.label}
            checked={currentPath === item.href}
          />
        </a>
      )
    })
  }
  <div class="flex-grow"></div>
  <ProfileButton client:only="solid-js" />
</nav>
