---
import { t } from 'src/utils/i18n';
import { ProfileButton } from '../client/ProfileButton/ProfileButton';
const currentPath = Astro.url.pathname;

type RailItem = {
  label?: string;
  href: string;
  icon: string;
};

const rail: Array<RailItem> = [
  {
    href: '/',
    icon: 'veil-advance',
  },
  {
    href: '/threads',
    icon: 'discussion',
    label: t('navigation:threads'),
  },
  {
    href: '/library',
    icon: 'books',
    label: t('navigation:library'),
  },
];
---

<nav class="rail">
  {
    rail.map((item) => {
      const isActive = currentPath === item.href
      return (
        <a href={item.href}>
          <cn-navigation-icon
            active={isActive}
            noun={item.icon}
            label={item.label}
            checked={currentPath === item.href}
          />
        </a>
      )
    })
  }
  <div class="flex-grow"></div>
  <a href="/docs/fi/01-index">
    <cn-navigation-icon
      noun="design"
      label={t('navigation:docs')}
      checked={currentPath.startsWith('/docs')}
    />
  <div class="profile_button">
    <ProfileButton client:only="solid-js" />
   </div>
</nav>
