---
import '@11thdeg/cyan-next/dist/style.css'; // Import the Design System CSS
import { t } from '@utils/i18n';

const { title, description } = Astro.props;
const metaDescription = description || t('app:meta.description');
const metaTitle = title || t('app:meta.title');
---
<head>
  <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Site info -->
    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />

    <!-- Import Design System Web Components -->
    <script>
      import '@11thdeg/cyan-next'
    </script>
</head>