---
import '@11thdeg/cyan-next/dist/style.css'; // Import the Design System CSS
---
<head>
  <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <!-- Import Design System Web Components -->
    <script>
      import '@11thdeg/cyan-next'
    </script>
</head>