---
import { t } from '@utils/i18n';
---
<h3>{t('library:title')}</h3>
<ul>
  <li>
    <a href="/library" class="tray-button">
      <cn-icon noun="mekanismi" small/>
      {t('library:sites.title')}
    </a>
  </li>
</ul>