---
import { logError } from '@utils/logHelpers';
import Parser from 'rss-parser';

let posts: Record<string, unknown>[] = [];
let posts2: Record<string, unknown>[] = [];

try {
  // We want to grab the myrrys.com RSS feed and post the latest 3 posts in this stream.
  const parser = new Parser();
  const feed = await parser.parseURL('https://myrrys.com/rss.xml');
  posts = feed.items.slice(0, 3);

  // We want to grab the https://roolipelitiedotus.fi/feed/ RSS feed and post the latest 3 posts in this stream.
  const parser2 = new Parser();
  const feed2 = await parser2.parseURL('https://roolipelitiedotus.fi/feed/');
  posts2 = feed2.items.slice(0, 3);
} catch (e) {
  logError(e);
}
---
<div class="column-s flex flex-col">
  <div>
    <h3 class="downscaled mb-1">
      <cn-icon noun="myrrys-scarlet"></cn-icon>
      Myrrys.com</h3>
  <img src="https://www.myrrys.com/branding/LetL_gm_screen_splash.webp" alt="Myrrys logo" class="w-16-9 poster" />
    
  {posts.map((post) => (
    <section class=" border-t pt-1" >
      <h4 class="downscaled">
        {post.title}</h4>
      <p class="downscaled">{post.contentSnippet}</p>
    </section>)
  )}
  </div>

  <div class="text-center py-1">
    <cn-icon noun="d20" large></cn-icon><br/>
  </div>

  <div>
  <h3 class="downscaled mt-1 mb-1">
    <img src="https://roolipelitiedotus.fi/wp-content/uploads/2018/07/logonayte-150x150.png" class="icon">
    Roolipelitiedotus.fi</h3>
    {posts2.map((post) => (
    <section class=" border-t pt-1" >
      <h4 class="downscaled">
        {post.title}</h4>
      <p class="downscaled">{post.contentSnippet}</p>
    </section>)
    )}
  </div>
</div>