---
import Parser from 'rss-parser';

// We want to grab the myrrys.com RSS feed and post the latest 3 posts in this stream.
const parser = new Parser();
const feed = await parser.parseURL('https://myrrys.com/rss.xml');

const posts = feed.items.slice(0, 3);
console.log(posts);
---
<div class="column-s">
    <h3 class="downscaled">Myrrys.com</h3>
  <img src="https://www.myrrys.com/branding/LetL_gm_screen_splash.webp" alt="Myrrys logo" class="w-16-9 poster" />
    
  {posts.map((post) => (
    <section class=" border-t pt-1" >
      <h4 class="downscaled">{post.title}</h4>
      <p class="downscaled">{post.contentSnippet}</p>
    </section>)
  )}
</div>