---
import { type Thread, parseThread } from '@schemas/ThreadSchema';
import { t } from '@utils/i18n';
import ThreadCard from './ThreadCard.astro';

const origin = Astro.url.origin;

const threadListResponse = await fetch(`${origin}/api/threads.json?limit=3`);
const threadsJSON = await threadListResponse.json();
const threads = (threadsJSON as Array<Thread>).map((thread) =>
  parseThread(thread, thread.key),
);
---
<section>
  <div class="flex-col">
    {threads.map((thread) => (
      thread && <ThreadCard thread={thread} />
    ))} 
  </div>
  <div class="flex items-center mt-2">
    <a href="/channels" class="button">
      {t('actions:showMore')}
    </a>
  </div>
</section>

