---
import ModalPage from '@layouts/ModalPage.astro';
import CharacterBuilderListSection from '@server/characters/CharacterBuilderListSection.astro';
import { t } from '@utils/i18n';
import { verifySession } from '@utils/server/auth/verifySession';

// Check if the user is authenticated
const session = await verifySession(Astro);

if (!session) {
  return Astro.redirect(
    `/login?redirect=${encodeURIComponent(Astro.url.pathname)}`,
  );
}

const title = `${t('app:shortname')} – ${t('characters:create.title')}`;
const description = t('characters:create.description');
---

<ModalPage title={title} description={description}>
  <div class="content-columns">
    <article class="column-l">
      <h1>{t('characters:create.title')}</h1>
      <p>{t('characters:create.description')}</p>

      <CharacterBuilderListSection />
    </article>

    <aside class="column-s">
      <cn-card
      title={t("navigation:experiments")}
      noun="experiment"
      class="column-s"
    >
      <p>
        {t("experiments:description")}
      </p>
    </cn-card>
    </aside>
  </div>
</ModalPage>
