---
import SingleColumnWithTray from '../../layouts/SingleColumnWithTray.astro'
import { getSessionUser } from '../../firebase/server'
import { ProfileForm } from '../../components/solid/account/ProfileForm'
import { t } from "i18next"
import { db } from '../../firebase/server'
import { ProfileSchema } from '@schemas/Profile'

const user = await getSessionUser(Astro.cookies)
if (!user.uid) {
  // This page requires authentication, so redirect to the login page
  Astro.redirect('/login')  
}
const profileData = (await db.collection('profiles').doc(user.uid).get()).data()

const profile = ProfileSchema.parse(profileData)
---
<SingleColumnWithTray title={t('account:title')}>
  <div slot="tray">
    <h3>{t('app:title')}</h3>
  </div>
  <div>
    <ProfileForm {...profile} client:visible/>
  </div>
...  
</SingleColumnWithTray>
@schemass/Profile