---
import type { Site } from '../../schema/Site'
import { systemToNoun } from '../../schema/conversions'
interface Props {
  site: Site
}
const { site } = Astro.props
---

<section>
  <h3 class="small">
    <cn-icon noun={systemToNoun(site.system)} />
    {site.name}
  </h3>
</section>
