---
const { site } = Astro.props
import { DateTime } from 'luxon'

const flowDate = DateTime.fromSeconds(site.flowTime/1000)
const flowTime = site.flowTime ? flowDate.toFormat('dd.MM.yyyy – HH:mm') : '-'
---
<a href=`/sites/${site.key}` class="SiteListItem grid">
  <span class="fr-full">{ site.name }</span>
  <span class="fr-1">{ site.system }</span>
  <spann class="typeBody_2">{ flowTime }</span>
</a>

<style>
.SiteListItem + .SiteListItem {
  border-top: 1px solid var(--cn-color-border);
  padding-top: var(--cn-grid-size);
  margin-top: var(--cn-grid-size);
}
.grid {
  display: grid;
  gap: var(--cn-gap);
  grid-template-columns: 5fr 1fr 2fr;
}
</style>