---
import type { Site } from '@schemas/Site'
import { systemToNoun } from '@schemas/conversions'
interface Props {
  site: Site
}
const { site } = Astro.props
---

<section>
  <h3 class="small">
    <cn-icon noun={systemToNoun(site.system)} />
    {site.name}
  </h3>
</section>
