/* This content should be moved to the design system */
.flex-row {
  flex-wrap: nowrap;
}
.debug {
  color: var(--color-notify) !important;
  border: solid 1px var(--color-notify);
  padding: var(--cn-gap);
  margin: var(--cn-gap) 0;
}
.debug > * {
  color: var(--color-notify) !important;
}
h1:first-child {
  margin-top: 0;
}
nav.cn-tray .cn-tray-title {
  margin-top: calc(-1 * var(--cn-grid));
  border-bottom: var(--color-border) solid 1px;
}
@media (min-width: 621px) {
  nav.cn-tray {
    padding-left: var(--cn-rail-width);
  }
}
.profile_button {
  min-height: 56px;
}
