/* This content should be moved to the design system */
.flex-row {
  flex-wrap: nowrap;
}
.debug {
  color: var(--color-notify) !important;
  border: solid 1px var(--color-notify);
  padding: var(--cn-gap);
  margin: var(--cn-gap) 0;
}
.debug > * {
  color: var(--color-notify) !important;
}
h1:first-child {
  margin-top: 0;
}
nav.cn-tray .cn-tray-title {
  margin-top: calc(-1 * var(--cn-grid));
  border-bottom: var(--color-border) solid 1px;
}
@media (min-width: 621px) {
  nav.cn-tray {
    padding-left: var(--cn-rail-width);
  }
}
.profile_button {
  min-height: 56px;
}
.mb-2 {
  margin-bottom: var(--cn-gap);
}
cn-loader[for="navigation"] {
  height: 72px;
  width: 56px;
}
.page-poster-section img {
  max-height: 42vh;
}

.pageBackgroundPoster {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100cqw + var(--cn-gap) * 2);
  z-index: -1;
  overflow: hidden;
  margin-top: calc(var(--cn-app-bar-height) * -1 - var(--cn-grid));
  opacity: 0.72;
}
.pageBackgroundPoster__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.88;
}
.pageBackgroundPoster::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    hsla(var(--chroma-primary-20-hsl), 0.22) 40%,
    hsla(var(--chroma-primary-70-hsl), 0.44) 60%,
    hsla(var(--chroma-primary-90-hsl), 0.66) 80%,
    var(--color-primary)
  );
  opacity: 1;
}
main:has(.pageBackgroundPoster) .content-columns > * {
  background: color-mix(in hsl, var(--color-primary), transparent 10%);
  padding: var(--cn-gap);
}
  