/* This content should be moved to the design system */
.debug {
  color: var(--color-notify) !important;
  border: solid 1px var(--color-notify);
  padding: var(--cn-gap);
  margin: var(--cn-gap) 0;
  background-color: var(--chroma-primary-95);
}
.debug > * {
  color: var(--color-notify) !important;
}
h1:first-child {
  margin-top: 0;
}
nav.cn-tray .cn-tray-title {
  margin-top: calc(-1 * var(--cn-grid));
  border-bottom: var(--color-border) solid 1px;
}
@media (min-width: 621px) {
  nav.cn-tray {
    padding-left: var(--cn-rail-width);
  }
}
.profile_button {
  min-height: 56px;
}
cn-loader[for="navigation"] {
  height: 72px;
  width: 56px;
}

.page-poster-section img {
  max-height: 42vh;
}

img.preview-icon {
  width: var(--cn-icon-size-large);
  aspect-ratio: 1 / 1;
  border-radius: var(--cn-grid);
  object-fit: cover;
}

p.align-right {
  text-align: right;
}
.border-top {
  border-top: var(--color-border) solid 1px;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
#fab-tray > div {
  display: flex;
  flex-direction: column;
  gap: var(--cn-grid);
  align-items: flex-end;
}
main article ol li {
  list-style: decimal;
}
main article h1:first-of-type {
  margin-top: var(--cn-gap);
}
article {
  overflow-wrap: break-word;
  hyphens: auto;
}
article + article {
  margin-top: 0;
}
main {
  padding-bottom: calc(8 * var(--cn-grid));
}
div.forum-topics {
  display: grid;
  grid-template-columns: var(--cn-icon-medium, 48px) 1fr calc(
      var(--cn-icon-medium, 64px) *
      2
    );
  gap: var(--cn-gap);
}
.cn-app-bar.on-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--cn-elevation-1);
  border-radius: 0 0 0 var(--cn-border-radius);
}
select {
  container: inline-size;
  position: relative;
}
astro-island,
astro-slot {
  display: contents !important;
  margin: 0;
  padding: 0;
}
.toolbar label:first-child {
  margin-left: calc(var(--cn-grid) * -1);
}
.toolbar label {
  margin-bottom: 0;
}
span.pill {
  margin-right: var(--cn-grid);
  background: var(--background-button);
  padding: 0 var(--cn-grid);
  border-radius: 0.5rem;
}
span.notification-pill {
  position: absolute;
  bottom: var(--cn-grid);
  right: calc(-1 * var(--cn-grid));
  color: var(--color-on-notify);
  background: var(--color-notify);
  box-shadow: var(--shadow-elevation-1);
}
.line-between + .line-between {
  border-top: solid 1px var(--color-border);
  padding-top: var(--cn-grid);
}
.no-shrink {
  flex-shrink: 0;
}
.no-grow {
  flex-grow: 0;
}
.toolbar p {
  margin: 0;
  align-self: center;
}
.items-center {
  align-items: center;
}
.border-t {
  border-color: var(--color-border);
}
.debug {
  overflow-x: auto;
}
@media (max-width: 620px) {
  .sm-hidden {
    display: none;
  }
  a.fab cn-icon {
    margin-right: var(--cn-gap);
  }
  #fab-tray {
    right: var(--cn-grid);
    bottom: calc(8.5 * var(--cn-grid));
  }
  #nav-bar {
    box-shadow: none;
  }
  #nav-bar-shader {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-bar);
    background: linear-gradient(transparent, var(--shadow-color));
  }
}
.hoverable:hover {
  background-color: color-mix(in hsl, var(--color-on-primary), transparent 95%);
}
cn-menu button.menu-item {
  display: flex;
  border-radius: 0;
  padding: var(--cn-grid);
  margin: 0;
  width: 100%;
  align-items: center;
  justify-items: start;
}
.clip-after-3 {
  max-height: calc(var(--cn-grid) * 6 * 3);
  overflow: hidden;
}
.clip-after-3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: calc(var(--cn-grid) * 8);
  background: linear-gradient(
    to bottom,
    color-mix(in hsl, var(--color-secondary), transparent 100%),
    var(--color-secondary)
  );
}
.border-radius.clip-after-3::after {
  border-radius: 0 0 var(--cn-border-radius) var(--cn-border-radius);
}
.hoverable a {
  text-decoration: none;
}
.align-center {
  align-items: center;
}
.h-full {
  height: 100%;
}
img.w-16-9 {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  margin-bottom: var(--cn-gap);
}
h2 cn-icon,
h3 cn-icon {
  vertical-align: middle;
  height: var(--cn-line-height-heading-3);
  padding: 0;
}
h3 img.icon {
  vertical-align: middle;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
  aspect-ratio: 1 / 1;
}
:root {
  color-scheme: light dark;
}
cn-bubble *:first-child {
  margin-top: 0;
}
cn-bubble {
  min-height: calc(var(--cn-gap) * 4);
}
cn-bubble {
  padding: var(--cn-gap);
}
a .decoration-none,
.decoration-none {
  text-decoration: none;
}
.toolbar {
  align-items: center;
}
cn-menu ul {
  list-style-type: none !important;
}
cn-menu ul li::before {
  content: none;
}
.cursive {
  font-style: italic;
}
.alert {
  background-color: var(--color-alert);
  color: var(--color-on-alert);
}
button.cta,
a.button.cta {
  background: var(--color-alert) !important;
}
button.cta:hover,
a.button.cta:hover {
  background: color-mix(in hsl, var(--color-alert), transparent 22%) !important;
}
button.cta:disabled,
a.button.cta:disabled {
  background: var(--color-button-disabled) !important;
}
main p + table {
  margin-top: var(--cn-gap);
}
main table thead {
  background-color: var(--color-elevation-1);
}
main table td {
  border: solid 1px var(--color-elevation-1);
}
.shrink {
  flex-shrink: 1;
}
.items-start {
  align-items: start;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
cn-dice {
  z-index: 1;
}
li cn-dice,
p cn-dice {
  display: inline-flex;
}

/* Move to cyan/styles/app/cn-background-poster.css */
#cn-background-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100dvw);
  height: auto;
  z-index: -1;
  overflow: hidden;
  opacity: 0.72;
  overflow: hidden;
}
#cn-background-poster picture {
  width: 100%;
  height: 100%;
}
#cn-background-poster img {
  width: 100%;
  height: 100%;
  position: relative;
}
#cn-background-poster::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    color-mix(in hsl, var(--chroma-surface-90), transparent 50%) 20%,
    color-mix(in hsl, var(--chroma-primary-20), transparent 80%) 40%,
    color-mix(in hsl, var(--chroma-primary-70), transparent 60%) 60%,
    color-mix(in hsl, var(--chroma-surface-80), transparent 30%) 80%,
    var(--color-primary)
  );
  opacity: 1;
}
@media (prefers-color-scheme: light) {
  #cn-background-poster::before {
    background: linear-gradient(
      180deg in hsl,
      transparent 70%,
      var(--color-primary)
    );
  }
  body:has(#cn-background-poster) nav.rail {
    background: var(--chroma-surface-10);
  }
}
dialog {
  color: var(--color-text);
    font-family: var(--cn-font-family-text);
    font-size: var(--cn-font-size-text);
    font-weight: var(--cn-font-weight-text);
    line-height: var(--cn-line-height-text);
    letter-spacing: var(--cn-letter-spacing-text);
}
dialog li {
  margin-left: var(--cn-gap);
}
dialog li::before {
  content: "•";
  margin-left: calc(-1 * var(--cn-gap));
  margin-right: var(--cn-gap);
  position: absolute;
}
dialog h2 {
  font-family: var(--cn-font-family-headings);
    font-weight: var(--cn-font-weight-heading-2);
    font-size: var(--cn-font-size-heading-2);
    line-height: var(--cn-line-height-heading-2);
    letter-spacing: var(--cn-letter-spacing-heading-2);
    margin-top: calc(var(--cn-grid)* 4);
    margin-bottom: calc(var(--cn-grid)* 2);
    color: var(--color-heading-1);
}

dialog h3 {
  font-family: var(--cn-font-family-headings);
    font-weight: var(--cn-font-weight-heading-3);
    font-size: var(--cn-font-size-heading-3);
    line-height: var(--cn-line-height-heading-3);
    letter-spacing: var(--cn-letter-spacing-heading-3);
    margin-top: calc(var(--cn-grid)* 4);
    margin-bottom: calc(var(--cn-grid)* 2);
    color: var(--color-heading-2);
}
