---
import AppBar from 'src/components/server/AppBar.astro';
import AppRail from 'src/components/server/AppRail.astro';
import BasePostscripts from 'src/components/server/BasePostscripts.astro';
import FabTray from 'src/components/server/FabTray.astro';
import BaseHead from '../components/server/BaseHead.astro';

const { title } = Astro.props;
---

<html lang="en">
  <body>
	  <BaseHead />
	  <AppRail />
    <cn-tray-button></cn-tray-button> 
    <nav class="cn-tray">
      <slot name="app-tray" />
   </nav>
    <AppBar title={title}>
      <slot name="app-bar" />
    </AppBar>
	  <main>
      <slot />
    </main>
    <nav id="fab-tray">
      <slot name="fab-tray"></slot>
    </nav>
    <BasePostscripts />
    <script is:inline>
      // If the viewport is larger than 1280px, the tray should be open by default
      if (window.innerWidth > 1280) {
        document.querySelector('cn-tray-button').setAttribute('aria-expanded', 'true');
      }
    </script>
  </body>
</html>
