---
import AppBar from 'src/components/server/AppBar.astro';
import AppRail from 'src/components/server/AppRail.astro';
import BaseHead from '../components/server/BaseHead.astro';
import { t } from '../utils/i18n';

const { title } = Astro.props;
---

<html lang="en">
  <body>
	  <BaseHead />
	  <AppRail />
    <cn-tray-button></cn-tray-button> 
    <nav class="cn-tray">
      <slot name="tray" />
   </nav>
    <AppBar title={title}/>
	<main>
      <slot />
    </main>
  </body>
</html>
