---
import AppRail from '../components/app/AppRail.astro';
import BaseHead from '../components/app/BaseHead.astro';
---
<html lang="fi">
  <BaseHead />
  <body>
    <AppRail />
    <main class="content-grid">
      <slot></slot>
    </main>
  </body>
</html>