---
import PageWithTray from '@layouts/PageWithTray.astro';
import AdminTray from '@svelte/admin/AdminTray.svelte';

// This feature is hidden in the production env with a feature flag
// SECRET_FEATURE_FLAG_Admin_tools

const visible = import.meta.env.SECRET_FEATURE_FLAG_Admin_tools === 'true';
---
<PageWithTray title="Admin" description="Admin tools for pelilauta">
  <AdminTray client:only="svelte" showLocalTools={visible} slot="app-tray"/> 
 { visible ? (
 <cn-icon noun="fox" xlarge></cn-icon>
 ): <div>Feature Disabled</div> }
</PageWithTray>